<h2>Student name is <%= @student.name %></h2>

<ul>
  <li>Student profile image url is <%= @student.profile_image %></li>
  <li>Student twitter username is <%= @student.twitter %></li>
  <li>Student linkedin u/n is <%= @student.linkedin %></li>
  <li>Student github u/n is <%= @student.github %></li>
  <li>Student quote is <%= @student.quote %></li>
  <li>Student bio is <%= @student.bio %></li>
  
  <li>Student work_title is <%= @student.work_title %></li>  
  <li>Student education is <%= @student.education %></li>


</ul>